@font-face {
font-family: 'Mistral Regular';
src: url('Mistral.eot');
src: url('Mistral.eot?#iefix') format('embedded-opentype'),
url('Mistral.woff') format('woff'),
url('Mistral.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

a, h1, h2, h3, h4, h5{
	margin: 0;
	font-family: sans-serif;
}

p{
	font-family: sans-serif;
}

body{
	margin: 0px;
	padding: 0px;
}

.intro{
	background: url(../images/background.png) no-repeat center;
	height: 100vh;
	background-size: cover;
	background-color: white;
	padding-top: 54px;
	z-index: -2;
	box-sizing: border-box;
	
}

.intro__fon{
	position: absolute;
	height: 100vh;
	width: 100%;
	z-index: 
	background: url(../images/fon.png) no-repeat center;
	background-size: cover;
}

.container{
	margin: 0 auto;
	max-width: 1170px;
}

header{

}
.intro__right{
	height: 50px;
	float: right;
	
}

.intro__button{
	background-color: #00b894;
	text-decoration: none;
	padding: 19px 38px 19px 38px;
	color: #fff;
	display: block;
	float: right;
}

.intro_nav{
	margin-right: 150px;
	padding-top: 19px;
	padding-bottom: 19px;
	

}

.intro__link{
	margin-right: 42px;
	text-decoration: none;
	color: #323232;
}
header{
	
}

.intro__main{
	margin-top: 261px;
	width: 670px;
}

.intro__hi{
	font-size: 22px;

}

.intro_mr{
	color: #00b894;
}

h4{
	margin: 0;
}

h1{
	margin-top: 37px;
}

.intro__descript{
	color: #707070;
	margin-top: 60px;

}

.intro__button1{
	background-color: #00b894;
	text-decoration: none;
	padding-top: 19px;
	padding-bottom: 19px;
	color: #fff;
	display: block;
	float: left;
	width: 180px;
	text-align: center;

}

.intro__button2{
	background-color: #323232;
	text-decoration: none;
	
	color: #fff;
	padding-top: 19px;
	padding-bottom: 19px;
	display: block;
	margin-left: 213px;
	width: 180px;
	text-align: center;

}

.about__decript{
	color: #707070;
	margin-top: 51px;
}

.intro__buttons{
	margin-top: 54px;
}

.about{
	
}



.about__left{
	width: 700px;
	float: left;
}

.about__me{
	font-size: 22px;
	color: #323232;
}

.about__creative{
	font-size: 36px;
	color: #323232;
}

.about__line2{
	position: relative;
	z-index: -1;
	width:  444px;
	height: 14px;
	bottom: 13px;
	background-color: #ccf1ea;
}

.about-line2{
	width: 633px;
}

.about__line{
	background-color: #00b894;
	height: 3px;
	width: 50px;
	margin-top: 22px;
	margin-bottom: 38px;
}

.about{
	padding-top: 153px;
	box-sizing: border-box;
	padding-bottom: 153px;
}

.about__main{
	overflow: hidden;
}

.about__right{
	margin-left: 70px;
	float: left;
	height: 351px;
	width: 400px;
}

.about__circle{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background-color: black;
	box-sizing: border-box;
	padding-top: 71px;
}

.about__circle1{
	background-color: #be2edd;
	position: relative;
}

.about__circle2{
	background-color: #f9ca24;
	position: relative;
	left: 200px;
	top: -200px;
}

.about__circle3{
	background-color: #ff7675;
	position: relative;
	left: 101px;
	top: -280px;
}

.about__digit{
	font-size: 36px;
	color: #fff;
	text-align: center;
	
}

.about__d{
	font-size: 16px;
	color: #fff;
	text-align: center;
}

.services{
	background-color: #f5f6fb;
	box-sizing: border-box;
	padding-top: 156px;
	padding-bottom: 156px;
	position: relative;
	z-index: -1;
}

.services__title-in{
	text-align: center;
	color: #323232;
	font-size: 48px;
	margin-bottom: 84px;
}

.services__line{
	background-color: #c4eae6;
	height: 9px;
	width: 468px;
	margin: 0 auto;
	position: relative;
	bottom: 15px;
	z-index: -1;
}

.services__cards{
	overflow: hidden;
}

.services__card{
	width: 370px;
	height: 338px;
	float: left;
	margin-left: 20px;
	margin-bottom: 20px;
	background-color: #fff;
	padding-left: 39px;
	padding-top: 60px;
	box-sizing: border-box;
}

.card__content{
	width: 290px;
	
}

.services__name{
	margin-top: 39px;
	margin-bottom: 39px;
	font-size: 20px;
	color: #323232;
}

.services__decript{
	color: #707070;
	font-size: 15px;
}



.skill{
	background-color: #00b894; 
	
	padding-top: 154px;
	position: relative;
	z-index: -1;
	padding-bottom: 154px;
}

.skill__title-in{
	text-align: center;
	color: #fff;
	font-size: 48px;
	margin-top: 0;
}

.skill__line{
	background-color: #33c6a9;
	height: 9px;
	width: 314px;
	margin: 0 auto;
	position: relative;
	bottom: 15px;
	z-index: -1;
}

.skill__name{
	color: #eefaf8;
	font-size: 16px;
	margin: 0;
}

.skill_ps{
	overflow: hidden;
	padding-top: 84px;
}

.skill__p{
	width: 500px;
	float: left;
	margin-bottom: 62px;
	
}

.skill__line-n{
	background-color: #4dcdb4;
	height: 10px;
}

.skill__p2{
	margin-left: 170px;
}

.skill__line-w{
	background-color: #fff;
	width: 443px;
	height: 100%;
}

.skill__circle{
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background-color: #fff;
	position: relative;
	left: 440px;
	bottom: 5px;
	margin: 0px;

}

.skill__procent{
	border-radius: 50%;
	color: #fff;
	position: relative;
	width: 20px;
	left: 400px;
	bottom: 60px;
	z-index: 2;
	font-family: sans-serif;
}

.skill__line-w2{

}

.skill__circle2{
	left: 427px;

}

.skill__procent2{
	left: 427px;
}

.skill__line-w3{
	width: 390px;
}

.skill__circle3{
	left: 384px;

}

.skill__procent3{
	left: 384px;
}


.skill__line-w4{
	width: 463px;
}

.skill__circle4{
	left: 457px;

}

.skill__procent4{
	left: 457px;
}

.project{
	padding-top: 150px;
	padding-bottom: 150px;
}

.project__title{
	font-size: 36px;
	color: #323232;
	text-align: left;
	margin-bottom: 0;
}

.project__line{
	width: 233;
	margin: 0;
	background-color: #ccf1ea;
}

.project__menu{
	margin-top: 40px;
}

.menu__link{
	text-decoration: none;
	margin-right: 55px;
	color: #707070;
}

.menu__link:hover{
	color: #00b894;
}

.project__cards{
	overflow: hidden;
}

.project__card{
	background-color: #828282;
	margin: 0px;
	margin-bottom: 30px;
}

.project__card-red{
	background-color: #e66d6d;
	box-sizing: border-box;
}

.project__card-middle{
	margin-right: 30px;
	margin-left: 30px;
}

.project__cards{
	margin-top: 64px;
}

.project__name{
	font-size: 24px;
	text-align: center;
}

.project__content{
	width: 291px;
	color: #fff;
}

.project__decript{
	text-align: center;
	margin-bottom: 50px;
	margin-top: 50px;
}

.project__group{
	text-align: center;
	margin: 0px;
	margin-top: 12px;
}

.raiting{
	text-align: center;
}


.feedback{
	padding-bottom: 147px;
}

.feedback__title{
	font-size: 48px;
	color: #323232;
	text-align: center;
	margin-bottom: 0;
}

.feedback__line{
	width: 370px;
	margin: 0;
	background-color: #ccf1ea;
	margin: 0 auto;
}

.feedback__boxes{
	margin-top: 59px;
	box-sizing: border-box;
	overflow: hidden;
}

.feedback__box{
	float: left;
	border: 1px solid #e5e5e5;
	width: 533px;
	height: 393px;
}

.feedback__box1{
	margin-left: 15px;
}
.feedback__box2{
	margin-left: 73px;
}

.feedback__content{
	width: 445px;
	margin: 0 auto;
	margin-top: 70px;
}

.feedback__lable{
	width: 134px;
	font-size: 18px;
	color: #707070;
	margin-left: 84px;
	height: 70px;
	box-sizing: border-box;
	
	
}

.feedback__shape{
	float: left;
}

.fetex{
	font-size: 15px;
}

.feedback__right{
	float: right;
	margin-top: 26px;
	margin-bottom: 0px;
	font-family: 'Mistral Regular';
	color: #707070;
}

.feedback__left{
	float: left;
}

.feedback__descript{
	color: #707070;
	margin-bottom: 50px;
	margin-top: 27px;
}

.forms{
	padding-bottom: 146px;
}

.forms__cube{
	width: 840px;
	height: 654px;
	background-color: #929292;
	float: left;

}

.forms__solution{
	float: left;
	margin-left: 100px;
	width: 600px;
	height: 654px;
	padding-top: 56px;	
}

.forms__parts{
	overflow: hidden;
	max-width: 1545px;
}

.forms__title{
	font-size: 36px;
}

.news{
	padding-bottom: 142px;
}

.news__line{
	width: 270px;
}

.news__blocks{
	overflow: hidden;
}

.news_block{
	float: left;
	width: 370px;
	height: 579px;
	border: 1px solid #e5e5e5;
}

.news__block1{
	margin-right: 26px;
}

.news__block2{

	margin-right: 27px;
}

.news__cube{
	background-color: #929292;
	height: 300px;
}

.logos__item{
	float: left;
	margin-left: 160px;
}

.logos__item1{
	margin: 0px;
}

.logos__items{
	overflow: hidden;
}

.logos{
	padding-bottom: 133px;
}

.news__content{
	width: 318px;
	padding-top: 23px;
	margin: 0 auto;
}

.news__left{
	float: left;
}

.news__right{
	float: right;
}

.news__top{
	overflow: hidden;
}

.news__title{
	font-size: 18px;
	margin-top: 38px;
	color: #323232;
}

.news__descript{
	font-size: 15px;
	color: #707070;
	margin-top: 32px;
}

.news__cont{
	font-size: 18px;
	color: #707070;
}

.news__cont2{
	color: #00b894;
}

footer{
	background-color: #f5f6fb;
}